body {
  margin: 0px;
  background-image: url(MainBG.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

nav {
  background: transparent;
  backdrop-filter: blur(1px);
  padding: 20px 12px;
  
}

.Nav-container {
  display: inline-block;
}

.Web-title {
  font-size: 26px;
  font-family: 'Raleway', sans-serif;
  color: white;
  display: inline-block;
  margin: 0;
  position: relative;
  top: -10px;
  left: 15px;
}

.Orange {
  color: #FFAC1C;
  margin-right: 6px;
}

.Links-container {
  float: right;
  position: relative;
  top: 10px;
  margin-right: 18px;
}

.Link-1 {
  font-size: 20px;
  font-weight: 600;
  color: white;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  transition: 0.6s;
  border: none;
  margin-left: 8px;
  margin-right: 8px;
  padding: 10px 7px 5px 7px;
  background-color: transparent;
  border-radius: 0;
  cursor: pointer;
}

.Link-2 {
  font-size: 20px;
  font-weight: 600;
  color: white;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  transition: 0.6s;
  border: none;
  margin-left: 8px;
  margin-right: 8px;
  padding: 10px 7px 5px 7px;
  background-color: transparent;
  border-radius: 0;
  cursor: pointer;
}

.Link-3 {
  font-size: 20px;
  font-weight: 600;
  color: white;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  transition: 0.6s;
  border: none;
  margin-left: 8px;
  margin-right: 8px;
  padding: 10px 7px 5px 7px;
  background-color: transparent;
  border-radius: 0;
  cursor: pointer;
}

.Link-4 {
  font-size: 20px;
  font-weight: 600;
  color: white;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  transition: 0.6s;
  border: none;
  margin-left: 8px;
  margin-right: 8px;
  padding: 10px 7px 5px 7px;
  background-color: transparent;
  border-radius: 0;
  cursor: pointer;
}


header {
    font-family: 'Raleway', sans-serif;
    background-color: rgb(20, 20, 83);
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

.Text1 {
    color: black;
    font-family: 'Raleway', sans-serif;
    margin-top: 10px;
}

section {
    max-width: 810px;
    margin: 20px auto;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    box-shadow: 0 0 28px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

  .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.6); 
  }

  .modal-content {
    background-color: #fefefe;
    margin: 18% auto; 
    padding: 20px 15px 20px 40px;
    border: 1px solid #888;
    border-radius: 15px;
    width: 30%; 
    font-family: 'Roboto', sans-serif;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 25px;
    font-weight: bold;
    margin-top: -10px;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .container1 {
    gap: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

.container2 {
    gap: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5px;
}

.Section1 {
  max-width: 500px;
  margin: 20px auto;
  margin-top: 50px;
  padding-top: 10px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0 0 28px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: left;
  margin-bottom: 45px;
  font-family: 'Roboto', sans-serif;
}

.Rules {
  font-family: 'Roboto', sans-serif;
}

.Container-Box {
  display: flex;
  justify-content: center;
  align-items: center;

}

.container2-1 {
  background-color: rgb(247, 247, 247);
  padding: 19px 19px 19px 19px;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  color: black;
  font-family: 'Roboto', sans-serif;
}

.Box2-1 ol {
  color: black;
}

.Box2-1 {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
  text-align: center;
  width: 190px;
  padding: 9px 25px 0px 25px;
  border: 2px solid #0000d9;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 700;
  color: #0e0e9f;
}

.Box2-1:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 1.3);
  background-color: rgb(0, 0, 217);
  color: white;
}

.Box2-2 {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
  text-align: center;
  padding: 17px 25px 0px 25px;
  border: 2px solid #0000d9;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 700;
  color: #0e0e9f;
}

.Box2-2:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 1.3);
  background-color: #0000d9;
  color: white;
}

.Box2-3 {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
  text-align: center;
  width: 190px;
  padding: 9px 25px 7px 25px;
  border: 2px solid #0000d9;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 700;
  color: #0e0e9f;
}

.Box2-3:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 1.3);
  background-color: #0000d9;
  color: white;
}

.Link-1,.Link-2,.Link-3,.Link-4 {
  transition: 0.3s;
}

.Link-1:hover {
  color: #FFAC1C;
  border-bottom: 3px solid white;
  font-size: 25px;
}

.Link-2:hover {
  color: #FFAC1C;
  border-bottom: 3px solid white;
  font-size: 25px;
}

.Link-3:hover {
  color: #FFAC1C;
  border-bottom: 3px solid white;
  font-size: 25px;
}

.Link-4:hover {
  color: #FFAC1C;
  border-bottom: 3px solid white;
  font-size: 25px;
}